*
{
    margin: 0;
    text-align: center;
    background-color: burlywood;
}

#pageHeader
{
    margin-top: 10px;
}

#pageTitle
{

}

#scoreText
{
    margin-bottom: 100px;
}

#shopBox
{
    float: right;
    size: auto;
    border-style: double;
    margin-right: 300px;
}

#shopBG *
{ 
    background-color: darkolivegreen;
}